<nav class="site-nav">
            <div class="site-nav-inner">
                <a href="/ru/content/" class="nav-link">Все</a>
                <a href="/ru/content/destinations/" class="nav-link">Направления</a>
                <a href="/ru/content/stay/" class="nav-link">Где жить</a>
                <a href="/ru/content/things-to-do/" class="nav-link">Чем заняться</a>
                <a href="/ru/content/weather/" class="nav-link">Погода и сезоны</a>
                <a href="/ru/content/planning/" class="nav-link">Планирование и бюджет</a>
                <a href="/ru/content/safety/" class="nav-link">Безопасность</a>
                <a href="/ru/content/news/" class="nav-link">Новости</a>
            </div>
        </nav>
