<nav class="site-nav">
            <div class="site-nav-inner">
                <a href="/ua/content/" class="nav-link">Усі</a>
                <a href="/ua/content/destinations/" class="nav-link">Напрямки</a>
                <a href="/ua/content/stay/" class="nav-link">Де зупинитися</a>
                <a href="/ua/content/things-to-do/" class="nav-link">Чим зайнятися</a>
                <a href="/ua/content/weather/" class="nav-link">Погода і сезони</a>
                <a href="/ua/content/planning/" class="nav-link">Планування і бюджет</a>
                <a href="/ua/content/safety/" class="nav-link">Безпека</a>
                <a href="/ua/content/news/" class="nav-link">Новини</a>
            </div>
        </nav>
